@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

.slider {
   margin: 0 auto;
   width: 80%;
}

section.banner {
   display: inline-block;
}

.banner-text {
   display: inline-block;
}

.banner-title {
   display: inline-block;
   color: #303030;
   font-family: Raleway;
   font-size: 150px;
   font-weight: 900;
   text-transform: uppercase;
   text-align: right;
   margin-left: -9px;
   vertical-align: top;
}

h1.banner-title {
   display: inline-block;
   margin: 0 auto;
   line-height: 150px;
   margin-bottom: 25px;
}
.banner-img {
   
   display: inline-block;
    position: absolute;
    right: 83px;

}
.banner-info {
       display: inline-block;
    color: #303030;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    width: 50%;
    text-align: right;
    margin-top: inherit;
    margin-left: 9px;
    margin-bottom: 25px;
}

p.banner-info {
   width: 100%;
   
}

.btn {
     display: inline-block;
    color: #e10011;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
     width: 50%;
    margin-left: 9px;
    text-align: right;
}
.banner-nav {
    display: inline-block;
    font-size: 11px;
    list-style: none;
    
    text-align: center;
       width: 100%;
       padding: 0 5px;
}
.banner-nav li {
   display: inline-block;
   
}
a.banner-nav {
   color: #303030;
}
a.banner-nav:visited {
   color: #303030;
}
a.banner-nav:active {
   color: #e10011;
}
